[push]
	default = simple
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
	d = difftool


[user]
	name = Wang, Yongqiang
        email = yqw@fb.com

[http]
    proxy = fwdproxy:8080
[https]
    proxy = fwdproxy:8080

[diff]
	tool = vimdiff
[difftool]
	prompt = false
