[push]
  default = simple
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  d = difftool
[user]
  name = Wang, Yongqiang
  email = yqw@fb.com
[include]
  path = ~/.gitconfig.machine
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[core]
  editor = vim

